@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href='@Url.Action("Index", "Home")' class="btn btn-success" style="float: right; margin-top: 30px">Ir a table</a>
</div>
